@page "/"

<div class="fundo">
    <PageTitle>Blazor Postgres</PageTitle>

    <h1>Seja bem vindo !</h1>

    Este projeto é um exemplo de aplicação Blazor Server utilizando banco de dados Postgres com Entity Framework Core.
    <p></p>

    <img src="images/blazor.jpeg" alt="Blazor Postgres" style="max-width: 100%; height: auto;" />

    <div class="alert alert-info mt-3" role="alert">
        <strong>Nota:</strong> Este é um projeto de exemplo para fins educacionais. Sinta-se à vontade para explorar o
        código e adaptá-lo conforme necessário.
    </div>

</div>